body {
  background: #222;
}

.arrow {
  opacity: 0;
  position: absolute;
  left: 49%;
  top: 90%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.arrow-1 {
  -webkit-animation: arrow-movement 2s ease-in-out infinite;
          animation: arrow-movement 2s ease-in-out infinite;
}

.arrow-2 {
  -webkit-animation: arrow-movement 2s 1s ease-in-out infinite;
          animation: arrow-movement 2s 1s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
  background: #fff;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
}

.arrow:before {
  -webkit-transform: rotate(45deg) translateX(-23%);
          transform: rotate(45deg) translateX(-23%);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.arrow:after {
  -webkit-transform: rotate(-45deg) translateX(23%);
          transform: rotate(-45deg) translateX(23%);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

@-webkit-keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 85%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 85%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.bounce {
  animation: bounceIn 2s;
}

 .fa-github {
  padding-bottom:10px;
}

.card {
  margin:20px;
  border: black;
}

.smalltext {
  font-size: 14px;
}
.smallertext {
  font-size: 11px;
}

.logo {
 margin: 0 auto;
 margin-top:10px;
}

.card:hover {
  background-color:rgb(45, 141, 136);
  color:ghostwhite;
}
.card-footer:hover {
  background-color: rgb(20, 64, 82);
}

i {
  color:white;
}

i:hover {
  color:rgb(206, 206, 206);
}

.circle:hover {
  background-color: rgb(45, 141, 136);
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
 
  #profile {
    margin-left:50px;
    padding:20px;
  }
  .center {
    margin-left: 30%;
  }

  .skills {
    height:80px;
    width:400px;
    margin-top:20px;
  }

}